.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
.vscode
env
venv
.env
Procfile
mail_agent/services
build
dist

# Haraka
queue
config/me
config/plugins
config/tls.ini
config/smtp.ini
config/outbound.ini
config/tls_key.pem
config/tls_cert.pem
config/dhparams.pem
config/relay_acl_allow
config/auth_enc_file.ini
